/target
/.idea
j4biz-commons-core.iml
/docs/inspiratie_altii/


.DS_Store

/wip/*
/cmake-build-debug/*

# compilatele in CLion
main

sepi/2026-oji/06/10_cifre/10cifre.in
sepi/2026-oji/06/10_cifre/10cifre.out
